p.selectable {
  padding: 0.5rem;
  /* cursor: pointer; */
  user-select: none;
  transition: background-color 0.2s;
}
p.selectable.selected {
  background-color: #7eff75; /* light green when selected */
  color: black;
}

.selection-menu {
  line-height: 0.8;
}

.selected-items {
  line-height: 1.2;
}
